.calculator-model {
  border-radius: 10px;
  background-color: white;
  .display-container {
    padding: 2rem 1.5rem;
    text-align: right;
    min-height: 9rem;
    .operation {
      color: darkgray;
    }
    .result {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .left-bottom-curve {
    border-bottom-left-radius: 10px;
  }
  .right-bottom-curve {
    border-bottom-right-radius: 10px !important;
  }
  .keypad-container {
    display: flex;
    .cell {
      padding: 1rem;
      background-color: lightgray;
      border: 1px solid gray;
      cursor: pointer;
      border-bottom: 0;
      border-left: 0;
      font-size: 1.2rem;
      &.actions {
        background-color: #fdd1fd;
      }
    }
    .flex-1 {
      flex: 1;
    }
    .operations-container {
      width: 25%;
      border-bottom-right-radius: 10px !important;
      display: flex;
      flex-direction: column;
      background: linear-gradient(gold, orange);
      color: white;
      .operation {
        flex: 1;
        cursor: pointer;
        border-top: 1px solid lightgrey;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .operands-container {
      width: 75%;
      .actions-container {
        display: flex;
      }
      .numbers-container {
        .number-row {
          display: flex;
        }
      }
    }
  }
}