@import './calculator';

.home-page {
  .heading {
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
  }
  .calculator-container {
    margin: 2rem 0 0 0;
    text-align: center;
  }
}